#header{
    display: flex;
    justify-content: space-between;
}

.intro{
    text-align: center;
}
button {
    background-color: blueviolet;
    color: white;
    /* border-radius: 10%; */
    font-size: 24px;
}

.questionContainer{
  
    width: 80%;
    margin: auto;
}

 .questionContainer p{
    font-weight: bold;
    font-size: 32px;
   
} 

.optionsContainer{
    display: flex;
    flex-direction: column;
}
.btn-choice{
   
    text-align: left;
    margin: 1%;

}

.validator-content {
    color: gray;
    font-style: italic;
    font-size: 18px;
    border-top: 2px solid gray;
}